---
layout: layout
title: "Table of Contents"
---

<nav class="toc-container toc-container-page" aria-labelledby="toc-title">
  <p id="toc-title">{{ title }}</p>
  <div class="toc-columns">
    {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
    {% for bookWithPages in collections.booksWithPages %}
      {% if bookWithPages.book.slug == currentBookSlug %}
        {% assign chapters = '' | split: '' %}
        {% for page in bookWithPages.pages %}
          {% if page.tags contains 'chapter' %}
            {% assign chapters = chapters | push: page %}
          {% endif %}
        {% endfor %}
        {% assign totalChapters = chapters | size %}
        {% assign itemsPerColumn = totalChapters | divided_by: 2 | ceil %}
        
        {% assign left_chapters = chapters | slice: 0, itemsPerColumn %}
        {% assign right_chapters = chapters | slice: itemsPerColumn, itemsPerColumn %}
          
        <div class="toc-column">
          {% for chapter in left_chapters %}
            <div class="page-item">
              <span class="page-count">{% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}</span>
              <div class="page-title-wrapper">
                <a href="{{ chapter.url }}">{{ chapter.title }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
        
        <div class="toc-column">
          {% for chapter in right_chapters %}
            <div class="page-item">
              <span class="page-count">{% assign count = forloop.index0 | plus: itemsPerColumn | plus: 1 %}{% if count < 10 %}0{% endif %}{{ count }}</span>
              <div class="page-title-wrapper">
                <a href="{{ chapter.url }}">{{ chapter.title }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
        
      {% endif %}
    {% endfor %}
  </div>
  {% include 'get-started', title: bookWithPages.book.title %}
  
  <nav class="nav-container" aria-label="E-book arrow navigation">
    <a href="../cover/" aria-label="Previous page">
      <div class="nav-button">
        <i class="gg-arrow-left"></i>
      </div>
    </a>
    <a href="../pages/page-1" aria-label="Next page">
      <div class="nav-button">
        <i class="gg-arrow-right"></i>
      </div>
    </a>
  </nav>
</nav>

