---
layout: layout
title: "Table of Contents"
---

<nav class="toc-container toc-container-page" aria-labelledby="toc-title">
  <p id="toc-title">{{ title }}</p>
  <div class="toc-columns">
    {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
    {% assign count = 1 %}
    {% for bookWithPages in collections.booksWithPages %}
      {% if bookWithPages.book.slug == currentBookSlug %}
        {% assign totalPages = bookWithPages.pages | size %}
        
        {% assign totalPagesWithTags = 0 %}
        {% for page in bookWithPages.pages %}
          {% if page.tags contains "chapter" %}
            {% assign totalPagesWithTags = totalPagesWithTags | plus: 1 %}
          {% endif %}
        {% endfor %}
        
        {% assign itemsPerColumn = totalPagesWithTags | divided_by: 2 | ceil %}
        <div class="toc-column">
          {% for page in bookWithPages.pages %}
            {% if page.tags contains "chapter" and count <= itemsPerColumn %}
              <div class="page-item">
                <span class="page-count">{% if count < 10 %}0{% endif %}{{ count }}</span>
                <div class="page-title-wrapper">
                  <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
              </div>
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
        {% assign count = 1 %}
        <div class="toc-column">
          {% for page in bookWithPages.pages %}
            {% if page.tags contains "chapter" and count > itemsPerColumn %}
              <div class="page-item">
                <span class="page-count">{% if count < 10 %}0{% endif %}{{ count }}</span>
                <div class="page-title-wrapper">
                  <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
              </div>
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% for bookWithPages in collections.booksWithPages %}
    {% if bookWithPages.book.slug == currentBookSlug %}
      {% include 'get-started', title: bookWithPages.book.title %}
    {% endif %}
  {% endfor %}
</nav>

<nav class="nav-container" aria-label="E-book arrow navigation">
  <a href="../cover/" aria-label="Previous page">
    <div class="nav-button">
      <i class="gg-arrow-left"></i>
    </div>
  </a>
  <a href="../pages/page-1" aria-label="Next page">
    <div class="nav-button">
      <i class="gg-arrow-right"></i>
    </div>
  </a>
</nav>
